 .check-out{
    background-color: #0B1D2F;
    padding: 6px 92px 88px 69px;
} 



.card-body {
    flex: 4 1 auto;
    padding: 5rem 1rem;
    margin-top: 100px;
    
}

.card{
    margin-top: 100px;
    margin-left: 512px;
    margin-right: 100px;
    margin-bottom: 100px;
    height: 51rem;
    padding: -6px 92px 88px 69px;
    
}

.card-group {
    display: flex;
    flex-flow: 10px 10px;
    flex-direction: row;
    flex-wrap: wrap;
}

.form {
    display: block;
    
    margin-top: 10px;

}

.div.mb-3.form-group{
   padding: 10px 10px 10px 10px;
}

.btn-primary {
    /* background-color: #ff8c00; */
    color: white;
    width: 82%;
    height: 60px;
    font-size: 25px;
    border-radius: 0.4rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    margin: 3rem 5rem 2rem 5rem;
}

.Table{
    margin-top: 10px;
}

.h2, h2 {
    font-size: 2rem;
    margin-top: 77px;
    margin-bottom: 20px;
}

.h1, h1 {
    font-size: 2rem;
    margin-top: -102px;
}
