@import "dashboard/variables";
@import "dashboard/mixins";
@import "dashboard/typography";
@import "dashboard/misc";
@import "dashboard/sidebar-and-main-panel";
@import "dashboard/buttons";
@import "dashboard/inputs";
@import "dashboard/alerts";
@import "dashboard/tables";
@import "dashboard/checkbox-radio-switch";
@import "dashboard/navbars";
@import "dashboard/footers";

@import "dashboard/plugins/animate";
@import "dashboard/dropdown";
@import "dashboard/cards";
@import "dashboard/chartist";
@import "dashboard/responsive";
@import "dashboard/plugins/react-notification-alert";
@import "dashboard/sidebar-and-main-panel";

// General Overwrites

.navbar i{
    font-size: 24px;
}

.card-stats i{
    color: #084887;
}

svg{
    overflow: visible;
}

.pull-right{
    float:right;
}

input[type=checkbox]{
    width: 20px;
}

//Chartist

.ct-series-a .ct-line{
    stroke: $primary-color;
}
.ct-series-a .ct-point{
    stroke: $primary-color;
}
.ct-series-b .ct-line{
    stroke: $secondary-color;
}
.ct-series-b .ct-point{
    stroke: $secondary-color;
}

.ct-series-a .ct-slice-pie{
    stroke: $primary-color;
}
.ct-series-b .ct-slice-pie{
    stroke: $secondary-color;
}

.ct-series-a .ct-slice-pie{
    fill: $primary-color;
}
.ct-series-b .ct-slice-pie{
    fill: $secondary-color;
}

.ct-series-a .ct-bar{
    stroke: $primary-color;
}

.ct-series-a .ct-bar{
    stroke: $primary-color;
}

.ct-series-b .ct-bar{
    stroke: $secondary-color;
}

#chartNewOnline .ct-bar{
    stroke: $secondary-color;
}

// Tables

.table-striped tbody tr:nth-of-type(odd){
    background-color: rgba(33, 150, 243, 0.1);
}