@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.dFlex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 30px 50px 20px 50px;
    box-sizing: border-box;
    background-color: #010d1a;
 }

 

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;

}

li{
    font-size: 18px;
    margin-left: 15px;
    padding: 10px;
    box-sizing: border-box;
    color: rgba(white, .7);
    cursor: pointer;
    font-family: 'Roboto', sans-serif;

}


.main_content{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 70%;
    height: 100%;
    margin: 50px auto;
    padding: 50px 0 0;
    box-sizing: border-box;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
   
}
h3{
    position: absolute;
    left: 0;
    top: 0;
    color: white;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
    margin-top: 10px;
    

}
.tabs{
    color: white;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

.card{
    width: 30%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    transform: scale(.8);
    transition: all .3s ease-in-out;
    margin-bottom: 70px;
    margin-top: 10%;
    font-family: 'Roboto', sans-serif;
}

.card_img{
    margin-top: -5vw;
    
}

.img{
    width: 200px;
}
.card_header{
    flex-direction: column;
    color: white;
    margin: 25px 0;
    

}
h2{
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
}
p{
    font-size: 20px;
    text-align: center;
    color: rgba(white, .3);
    margin: 8px 0;
    font-family: 'Roboto', sans-serif;
}
.price{
    font-size: 25px;
    color :white;
}
span{
    font-size: 25px;
    display: inline-block;
    vertical-align: top;


}

.card:hover{
    background-color: #010d1a ;
    transform: scale(1.1);
    cursor: pointer;
}
.btn{
    

    background-color: #ff8c00;
    color: white;
    width: 160px ;
    height: 35px;
    font-size: 25px;
    border-radius: 35px;
    color: white;
    background-color: rgba(white, .5);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    


}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    justify-content: space-between;
    margin-top: auto;
    color:rgba(white, .3);
    font-size: 12px;
}